// Define params
params.in = "$baseDir/sequence.fa"

// Define HPC profiles to run with job scheduler
profiles {
  // Use this profile to interact with the scheduler on setonix 
  slurm { includeConfig "slurm.config"}

  // Use this profile to interact with the scheduler on gadi   
  pbs {
    process {
      executor = 'pbspro'
      queue = 'normal'
      clusterOptions = "-P ${params.gadi_account}"
    }
  }
}

// Output a summary html report
report {
  enabled = true
}