// Define params
params.in = "$baseDir/sequence.fa"
params.timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// Define HPC profiles to run with job scheduler
profiles {
  // Use this profile to interact with the scheduler on setonix 
  slurm { includeConfig "slurm.config" }

  // Use this profile to interact with the scheduler on gadi   
  pbspro { includeConfig "pbspro.config" }
}

// Output a summary html report
report {
  enabled = true
  file = "./runInfo/report-${params.timestamp}.txt"
}