// Define params
params.in = "$baseDir/sequence.fa"
params.gadi_account = ""
params.setonix_account = ""

// Define HPC profiles to run with job scheduler
profiles {
  slurm {
    process {
      executor = 'slurm'
      queue = 'work'
      clusterOptions = "--account=${params.setonix_account}"
    }
  }
  
  pbs {
    process {
      executor = 'pbspro'
      queue = 'normal'
      clusterOptions = "-P ${params.gadi_account}"
    }
  }
}